/*comienza api jsplaceholder*/
.cajaapi{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #Ffc215;
    width: 100%;
    height: auto;
    margin: auto;
    margin-bottom: 2%;
}
.parrafo{
    background-color: #e0e0e1;
    color: #2d2e2e;
    font-size: 2vw;
    text-align: center;
    padding: 10%;
    width: 70%;
}
 
.nombres{
    background-color: #e0e0e1;
    color: #2d2e2e;
    width: auto;
    margin: auto;
    padding: 3%;
    font-size: 2vw;
    text-align:left;

}
/*termina api jsplaceholder*/

/*iframe de youtube*/
.iframe{
    width: 90%;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 2%;
    background-color: #Ffc215;
}
.contenedorprueba {
    width: 90%;
    height: auto;
    margin: auto;
    margin-bottom: 3%;
}

.contenedor-responsivo {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    width: 100%;
    background-color:rgb(156, 151, 151);  
}
.contenedor-responsivo iframe {
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
/*termina iframe youtube*/